*{
   font-family: poppins, sans-serif;
   box-sizing: border-box;
   text-transform: capitalize;
   padding: 0px;
   margin: 0px;
   outline: 0px;
   text-decoration: none;
   color:white;
   width: 100%;
}



.heading{
   text-align: center;
   padding: 2rem 0;
   padding-bottom: 2rem;
   color:white;
}


header{
  padding: 1rem;  
 }
 .header{
   position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: black;
 }


 .header .navbar a{
    font-size: 1rem;
    color: rgb(226, 218, 218);
     height: 4rem;
   line-height: 4rem;
    font-size: 1rem;
    margin-right: 4rem;
    cursor: pointer;
    text-align: center;
 }

 .header .navbar .logo{
   height: 70px;
   width: 250px;
 }

 .header .navbar a:hover{
    color: darkorange;
 }

 section{
    z-index: 50;
    text-align: center;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
 }

 
 .home{
    display:flex;
    align-items: center;
    justify-content: center;
    background: url(images/studio.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 35rem;
 }


 .content h1{
    font-size: 90px;
    padding-right: 895px;
    padding-top: 70px;
 }

 .content h1 span{
    color: darkorange;
 }

 .content  p{
    font-size: 25px;
    padding-right: 895px;
 }
 
.btn{
   margin-top: 1rem;
   display: inline-block;
   padding:  15px 20px;
   font-size: 1.2rem;
   width: 15rem;
   border-radius: 0.2rem;
   text-align: center;
   border: 0.1rem solid darkorange;
   color:white;
   cursor: pointer;
   background: darkorange;
 }

 .btn:hover{
 background: transparent;
 }

 .aboutus{
   background-color: rgb(56, 56, 60);
 }

.heading {
    text-align: center;
    padding: 2rem 2rem;
    padding-bottom: 2rem;
    font-size: 3.5rem;
    color: rgb(250, 233, 233);
}

 .aboutus .box-container{
   display: grid;
   width: 100%;
   grid-template-columns: 1fr 1fr 1fr;
    }


 .aboutus .heading span{
    color: darkorange;
 }


 .aboutus h4{
   font-size: 20px;
 }
 .aboutus .box-container .box{
    padding: 1rem 1rem ;
    background: transparent;
    text-align: center;
    width: 100%;
 }


 .aboutus .box-container .box h1{
    line-height: 1.6;
    color: rgb(245, 233, 233);
 }
 .aboutus .box-container .box p{
    font-size: 10px;
    line-height:1.2rem;
    background: transparent;
    padding: 1rem 0;
 }

 .info {
   background: url(images/woman.jpg) no-repeat rgba(135, 17, 98, 0.467);
   height: 40rem;
   

 }

 .info h3{
   color: rgb(255, 254, 254);
   text-align: center;
   padding-left: 500px;
 }

 .info .heading{
   padding-top: 50px;
   padding-left: 700px;
   color: rgb(252, 249, 249);
 }

 .info .heading span{
   color: darkorange;
 }

 .info h3{
   padding-top: 20px;
   padding-left: 700px;
   color: white;
 }


 .info p{
   padding-top: 50px;
   padding-left: 700px;
   color: rgb(243, 240, 240);
 }


.podcasts{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   width: 400px;
   cursor: pointer;
   padding-top: 20px;
   margin-left: 60rem;

}

   .blogs{
   display:flex;
    align-items: center;
    justify-content: center;
    background: url(images/studio.jpg) no-repeat ;
    background-position: center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 1rem;
 }


 .blog{
   background: rgba(69, 61, 99, 0.807);
   padding-top: 70px;
   padding-bottom: 50px;
   background-size: 4rem;
   border-radius: 10%;
   margin-left: 250px;
 }

 .blog h3{
   color: rgb(224, 220, 235);
 }

.blog img{
   border-radius: 500%;
   width: 100px;
   margin-top: 50px;
   margin-right: 600px;
}

.blog p{
   padding-right: 400px;
   padding-bottom: 50px;
}

.blog span{
   color: darkorange;
}


.blogss {
   margin-right: 100px;
   padding-left: 120px;
}

.blogss h2{
   font-size: 60px;
   
}

.blogss h2 span{
   color: darkorange;
}


.blogss p{
   color: rgb(247, 247, 250);
   font-size: 19px;
}

.aboutus h3 {
   background-color: rgba(129, 24, 99, 0.458);
   width: 100%;
   height: 300px;
   padding-top: 100px;
   text-align: center;
}